/* unvisited link */

a:link {
    color: rgb(140, 186, 255);
}


/* visited link */

a:visited {
    color: rgb(140, 186, 255);
}


/* mouse over link */

a:hover {
    color: rgb(140, 186, 255);
}


/* selected link */

a:active {
    color: rgb(140, 186, 255);
}